
body{
    background-color: #09bd54;
    font-family: Alkatra, cursive;
}
.blurb h2 {
    color: #ea1c2c;
    font-size: 100;
    font-weight: 2.5rem;
}
.blurb p {
    color: #802428;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 2;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color: white;

}
#mainNavbar .nav-link:hover {
color: #ea1c2c;
}
#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;

}
#headingGroup span {
    color:#ea1c2c;
}
#headingGroupe h1 {
    font-weight: 100;
    font-size: 4rem;
}
.navbar.scrolled{
    background-color: rgb(69, 172, 22);
    transition: background 1.5s;
}
@media (max-width: 100px) {
    #headingGroupe h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}